extends layout.pug

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/bookshelves.css")

block content
    +validationErrorSummary(errors)
    .bookshelves-page
        p.page-title Bookshelves
        .bookshelves
            ul
                each bookshelf in bookshelves
                    li:a.bookshelf-container(href=`/bookshelves/${bookshelf.id}`)
                            .bookshelf= bookshelf.name
        .add-bookshelf
            form.add-form(method="get" action="/bookshelves/add")
                input(name="_csrf" type="hidden" value=csrfToken)
                button.add-button New Bookshelf
