doctype html
html
  head
      block head
        title= title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' href='../stylesheets/index.css')
        link(rel='stylesheet' href='../stylesheets/reset.css')

  body
    style
        include ../stylesheets/index.css
    .nav-bar
      .logo
        a.nav(href=`/`): h1.bad-reads: span.bad bad#[span.reads reads]
      .navtags
        a.nav(href=`/books`): div.mybooks.navtext Books
        if locals.authenticated
          a.nav(href=`/bookshelves`): div.mybooks.navtext My Bookshelves
          .nameandpic
            a.nav(href=`/bookshelves`): img.image(src='../public/user.png' alt='user')
            a.nav(href=`/bookshelves`): div.name= user.username
          .buttons
            a(href=`/users/logout`): button.logbuttons Logout
        else
          .buttons
            a(href=`/users/login`): button.logbuttons Login
          .buttons
            a(href=`/users/register`): button.logbuttons Register
    block content
