doctype html
html
  head
      block head
        title= title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' href='../stylesheets/index.css')
        link(rel='stylesheet' href='../stylesheets/reset.css')

  body
    style
        include ../stylesheets/index.css
    .nav-bar
        a.nav(href=`/`): h1.bad-reads <span class=bad>bad</span><span class=reads>reads</span>
        a.nav(href=`/books`): div.mybooks.navtext Books
        if locals.authenticated
          a.nav(href=`/bookshelves`): div.mybooks.navtext My Bookshelves
          a.nav(href=`/`): div.profilePic.navtext Picture
          a.nav(href=`/`): div.name.navtext Name
          a(href=`/users/logout`): button.logbutton(type="button") Logout
        else
          a(href=`/users/login`): button.logbutton(type="button") Login
          a(href=`/users/register`): button.logbutton(type="button") Register
    block content
