doctype html
html
  head
      block head
        title= title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' href='../stylesheets/index.css')
  body
    style
        include ../stylesheets/index.css
    .nav-bar
        a(href=`/`): h1.bad-reads Bad Reads
        a(href=`/bookshelves`): div.mybooks My Bookshelves
        if isLoggedIn 
          a(href=`/users/logout`): div.logout \Logout/
          a(href=`/`): div.profilePic Picture
          a(href=`/`): div.name Name
        else 
          a(href=`/users/login`): div.login *Login*
          a(href=`/users/register`): div.register Register
    block content
