doctype html
html
  head
      block head
        title= title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' href='../stylesheets/index.css')
  body
    style
        include ../stylesheets/index.css
    .nav-bar
        a: h1.bad-reads Bad Reads
        //- a: div .home 
        //- a: div .mybooks
        //- if isLoggedIn 
        //-   a: div .login login
        //-   a: div .profilePic picture
        //-   a: div .name name
        //- else 
        //-   a: div .logout logout
        //-   a: div .register register
    block content
