h1 {
    color: #382110;
}

.main-container{
    display: flex;
    flex-direction: row;

}

.next-book-btn {
    padding: 0px 5px;
    margin: 0px auto;
    position: relative;
    cursor: pointer;
}

span {
    font-weight: bold;
    font-size: 15px;
}

p {
    font-size: 13px;
}

.column-1 {
    width: 20vw;
    margin-right: 2vw;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-2 {
    min-width: 56vw;
    margin-right: 2vw;
}

.review-container {
    margin: 10px;
    border: 2px solid rgba(87, 87, 87, 0.151);
    border-radius: 5px;
    text-align: left;
    display: flex;
}

.text-container {
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    padding: 15px;
}

.book-cover{
    max-width: 120px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 20px;
}

.suggestion-book-cover{
    max-width: 120px;
    height: 150px;
    display: flex;
    align-items: center;
    border-top-right-radius: 6%;
    border-bottom-right-radius: 6%;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
    display: block;
    object-fit: fill;
}

img {
    max-width: 120px;
    height: 150px;
    object-fit: contain;
}

.random-book-id, .random-book2-id, .random-book3-id {
    color: white;
}

.user {
    display: flex;
    align-items: baseline;
}

.username > span {
    margin-right: 4px;
}

span > a {
    margin-left: 4px;
    font-weight: bold;
    font-size: 15px;
}

a {
    text-decoration: none;
}

a > p {
    transition: text-decoration .3s ease-in-out;
}


a > p:hover {
    text-decoration: underline;
}

.column-1 p {
    font-size: 16px;
    margin: 10px;
}

.suggested-title {
    font-size: 20px;
}

.suggested-books {
    margin-top: 30px;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.suggested-book-title {
    text-align: center;
    width: 200px;
    overflow-wrap: normal;
}

.next-book-btn {
    background-color: #ede6d6;
    border: solid 1px #b4b4b4;
    border-radius: 5px;
    color: #333333;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    margin: 10px 0px;
    width: auto;
    transition-duration: 0.3s;
}

.next-book-btn:hover {
    background-color: rgba(151, 151, 151, 0.61);
}
