doctype html
html
  head
      block head
        title= title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' href='../stylesheets/index.css')
  body
    style
        include ../stylesheets/index.css
    .nav-bar
        h1.bad-reads Bad Reads

    block content
